<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Projects</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico"/>
    <link rel="stylesheet" href="/static/p-p.css">
</head>
<body>
    <div class="portfolio-grid">
        <div class="project animate-fade" style="background-image: url('/static/screenshots/PROJECTS.png'); background-size: 100%;">
        </div>
        <div class="project animate-right" style="background-image: url('/static/screenshots/mp3player1.png');">
            <div class="project-image">
                <div class="project-title">Python MP3 Player</div>
                <div class="project-description">
                    MP3 Player with Playlists, Volume Control, etc... made with libraries customTkinter, PyGame and more.
                    <p class="event-date">/11/2023</p>
                </div>
            </div>
        </div>
        <div class="project animate-left" style="background-image: url('/static/screenshots/tvbot1.png');">
            <div class="project-image">
                <div class="project-title">Twitch ChatBot</div>
                <div class="project-description">
                    This Chatbot is a very advanced one with a Point system and a whole Economy. The GitHub version isn't up to date. The Chat can control your Game, play Sound Effects, Gamble with their points and much much more!
                    <p class="event-date">/12/2023</p>
                </div>
            </div>
        </div>
        <div class="project animate-bottom" style="background-image: url('/static/screenshots/reddit1.png');">
            <div class="project-image">
                <div class="project-title">Reddit Automatic Replier</div>
                <div class="project-description">
                    Give the Program a Reddit Community and it will reply to all new posts using the OpenAI API to generate Comments and the Reddit API to send the comments.
                    <p class="event-date">/01/2024</p>
                </div>
            </div>
        </div>
        <div class="project animate-top" style="background-image: url('/static/screenshots/reverseshell1.png'); background-position: 45%;">
            <div class="project-image">
                <div class="project-title">Python Reverse Shell</div>
                <div class="project-description">
                    Uses Python Websockets to connect to a remote server. The server has a web UI to send and receive commands. It's a remote shell.
                    <p class="event-date">/02/2024</p>
                </div>
            </div>
        </div>
        <div class="project animate-right" style="background-image: url('/static/screenshots/papertrader1.png');">
            <div class="project-image">
                <div class="project-title">PaperTrading Program</div>
                <div class="project-description">
                    This Program lets you Paper Trade with the Binance API to get the data. It shows every second, how much Percentage you've gained or lost, by buying multiple coins. (Not on GitHub)
                    <p class="event-date">/03/2024</p>
                </div>
            </div>
        </div>
        <div class="project animate-left" style="background-image: url('/static/screenshots/analyzer1.png'); background-position-x: 3.3%; background-size: 170%;">
            <div class="project-image">
                <div class="project-title">Market Analyzer</div>
                <div class="project-description">
                    This Market Analyzer gets data of every coin in the market and calculates certain things to get a basic overview. (Not on GitHub)
                    <p class="event-date">/03/2024 - /05/2024</p>
                </div>
            </div>
        </div>
        <div class="project animate-bottom" style="background-image: url('/static/screenshots/kucointrader1.png'); background-position-y: 60%;">
            <div class="project-image">
                <div class="project-title">KuCoin Trader</div>
                <div class="project-description">
                    This Trade Program Makes it easy for you to place Orders by automatically sending them to the KuCoin API and setting Take Profit and Stop Losses. (Not on GitHub)
                    <p class="event-date">/04/2024 - /05/2024</p>
                </div>
            </div>
        </div>
        <div class="project animate-fade" style="background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));">
            <div class="project-image">
                <div class="project-title">...</div>
                <div class="project-description">
                    <span style="color: green;">&lt;!-- I'll add more projects later, too lazy --&gt; </span>
                    <p class="event-date">Das_F1sHy312</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>




























































